body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  background: linear-gradient(to right,rgb(44 154 173) ,rgb(119, 62, 144) );
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container{
    height: fit-content;
    width: fit-content;
    background-color: white;
    box-shadow: 1px 1px 4px black;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.add-btn{
  text-align: center;
  display: flex;
  height: 20%;
  width: 100%;
  border: none;
  border-radius: 50%;
  margin-top: 3%;
}
.npt{
  border-radius: 5px;
    border: 1px solid white;
    outline: none;
    padding: 8px 15px;
    color: black;
}
.npt:hover{
  border-color: #ccc;
}
.npt:focus{
  border-color: #9900ff;

}
.main{
  display: flex;
  flex-direction: column;}

.btn-add {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  margin-top: 4%;
  border-radius: 50px;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-add:hover {
  background-position: 100% 0;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-add:focus {
  outline: none;
}

.btn-add.color {
  background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
ol{
  list-style: none;
}